*.json
*.rds
*.dcf
*.dcf
biology/zfish_expression/rsconnect/shinyapps.io/plotproject/zfish_expression.dcf
*.zip
*.pkl
*.csv
*.xls
*.xlsx
kaggle/KYC/archive/KYC_Challenge/fct_data/fct_data/message_from_the_data_team.txt
lucence/.ipynb_checkpoints/lucence_task-checkpoint.ipynb
lucence/.ipynb_checkpoints/Lucence_task2-checkpoint.ipynb
lucence/.Rhistory
lucence/data/csv_files/b/sample3_variants_ignore.txt
lucence/data/samtools_depth.txt
lucence/data/target_panel.bed
lucence/ldx_coding_test_2nd.txt
lucence/lucence_task.ipynb
lucence/lucence_task.R
lucence/Lucence_task2.ipynb
lucence/lucence_task2.R
lucence/lynx.tiff
*checkpoint.ipynb
#real_estate/rentalPlot/cloud/.ipynb_checkpoints/getURAData-checkpoint.ipynb
#real_estate/rentalPlot/cloud/.ipynb_checkpoints/getURAData-checkpoint.ipynb
**/.ipynb_checkpoints/*-checkpoint.ipynb
